
*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  gap: 1rem;
  display: grid;
  grid-template-columns: 1f;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 16px;
}
.card{
  overflow: hidden;
  box-shadow: 0 2px 20px rgb(224, 219, 219);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 16px;
  margin-bottom: 16px;
  
}
@media only screen and (min-width: 992px) {
  .App {
    padding-left: 128px;
  }
}